.header {
      background: linear-gradient(-103deg, #2c58, #3679);
      padding: 30px;
      text-align: center;
    }
    
    .header h2 {
      font-size: 2em;
      margin-bottom: 10px;
      font-weight: bold;
      color: darkblue;
    }

    .header p {
      opacity: 0.9;
      color: dimgrey;
      font-size: 1.1em;
    }
