/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: Arial, Helvetica, sans-serif; margin: 16px; }
.container { max-width: 900px; margin: auto; }
button { cursor:pointer }
.small { font-size: 0.9rem }
.header { display:flex; justify-content:space-between; align-items:center; margin-bottom:12px }
.card-color {
    background-color: #f0f1ff7f;
}
